<div class="cont-<%= message.user.id %>">
  <div id="message-<%= message.id %>-<%= message.user.id %>" class="message-box msg-<%= message.user.id %>" >
    <p class="message-box-text"><%= message.content %></p>
    <i class="message-box-time"><%= message.created_at.strftime("%l:%M") %></i>
  </div>
</div>
