<h1>Create Outfit</h1>

<%= simple_form_for @outfit do |f| %>
  <%= f.input :description %>
  <%= f.input :photo, as: :file %>
  <% collection =  current_user.items.map { |item| [item.id, cl_image_tag(item.photo.key) ] }%>
  <%= f.input :items, as: :check_boxes, collection: collection,  label_method: :second, value_method: :first, include_hidden: false, input_html: { multiple: true } %>
  <%= f.button :submit, class: "btn btn-primary" %>
<% end %>
