<div class="row mx-auto d-flex justify-content-center gx-4 ">
  <div class="col-lg-8 col-sm-12">

    <div class="item-show d-flex justify-content-between align-items-center pb-2 mb-4">
      <%= link_to :back do %>
        <i class="fas fa-chevron-left fa-lg"></i>
      <% end %>

      <% if @chatroom.order.buyer == current_user %>
        <%= render partial: "shared/user_info", locals: { user: @chatroom.order.seller } %>
      <% else %>
        <%= render partial: "shared/user_info", locals: { user: @chatroom.order.buyer } %>
      <% end %>

      <p class="m-0">✨</p>
    </div>

    <% if current_user == @chatroom.order.buyer || current_user == @chatroom.order.seller %>
      <div class="container chatroom"
      data-controller="chatroom-subscription"
      data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>"
      >

      <div class="messages" data-chatroom-subscription-target="messages">
        <% @chatroom.messages.each do |message| %>
          <%= render partial: "messages/message", locals: {message: message, chatroom: @chatroom } %>
        <% end %>
      </div>

      <%= simple_form_for [@chatroom, @message],
        remote: true,
        html: {data: {chatroom_subscription_target: "form"}, class: "d-flex mt-4 message-form-container"} do |f|
      %>
      <%= f.input :content,
          label: false,
          placeholder: "Message ##{@chatroom.name}",
          wrapper_html: {class: "flex-grow-1 form-message"}
        %>
        <%= f.submit "Send", class: "btn btn-primary px-4" %>
      <% end %>
    </div>
    <% else %>
      <h6>It seems you are not either buyer or seller of this trades</h6>
    <% end %>
  </div>

</div>
