<div class="card-item position-relative mb-4 p-0 border-0 flex">

  <div class="card-outfit-img"
       style="background-image:url(<%= cl_image_path item.photo.key %>)">
  </div>

  <div class="card-body">

    <%= render partial: "shared/user_info", locals: { user: item.user } %>

    <div class="card-text">

      <p class="py-4 text-break m-0"><%= item.description %></p>
      <p><strong>Brand: </strong><%= @item.brand %></p>
      <p><strong>Size: </strong><%= @item.size %></p>
      <p><strong>Colour: </strong><%= @item.color %></p>
      <p class="text-muted m-0">Posted <%= time_ago_in_words item.created_at %> ago</p>


    </div>

  </div>

</div>
