<div class="navbar py-0 navbar-expand-sm navbar-light navbar-lewagon fixed-top d-flex justify-content-center flex-column bg-transparent">
  <div class="container py-2 bg-white">

      <%= link_to root_path, class: "navbar-brand d-flex align-items-center justify-content-start" do %>
        <h2 class="m-0">Refresh</h2>
      <% end %>


        <% if user_signed_in? %> <!-- Logged in -->

          <div class="nav-item d-flex align-items-center justify-content-center position-absolute start-50 translate-middle-x">

            <!-- Button to submit item or outfit -->

            <div class="btn btn-success rounded-circle btn-lg"
               data-bs-toggle="collapse" data-bs-target="#chooseSubmit"
               aria-expanded="false" aria-controls="chooseSubmit">
               +
            </div>

          </div>



          <div class="nav-item d-flex align-items-center justify-content-end">

          <div class="container">

            <div class="row d-flex justify-content-center align-items-center">

              <div class="col-4 d-flex justify-content-center align-items-center">

                <%= link_to chatrooms_path do %>
                  <i class="far fa-envelope"></i>
                <% end %>

              </div>

              <div class="col-4 d-flex justify-content-center align-items-center">

                <%= link_to trades_path do %>
                  <i class="fas fa-exchange-alt"></i>
                <% end %>

              </div>

              <div class="col-4 d-flex justify-content-center align-items-center">

                <% if current_user.photo.key.nil? %> <!-- User doesn't have an avatar -->

                  <%= link_to dashboard_path do %>
                    <%= cl_image_tag "v1646064199/non_existing_id.png", class: "avatar" %>
                  <% end %>

                <% else %> <!-- User has an avatar -->

                  <%= link_to dashboard_path do %>
                    <%= cl_image_tag current_user.photo.key , class: "avatar" %>
                  <% end %>

                <% end %>

              </div>

            </div>

          </div>

          </div>

        <% else %> <!-- Not logged in -->

          <div class="nav-item d-flex align-items-center justify-content-center">
            <%= link_to "Login", new_user_session_path, class: "btn btn-success" %>
          </div>

        <% end %>
  </div>

  <div class="collapse" id="chooseSubmit">

    <div class="row p-3">
      <div class="col-6 d-flex align-items-center justify-content-center">
          <%= link_to "Item", new_item_path, class: "btn btn-success" %>
      </div>
      <div class="col-6 d-flex align-items-center justify-content-center">
          <%= link_to "Outfit", new_outfit_path, class: "btn btn-success" %>
      </div>
    </div>

  </div>

</div>
