<div class="card">

  <h5>
    <%= order.status %>
  </h5>

  <div class="row">

    <div class="col-6">

      <div class="item-card card">

        <div class="img-item-card" style="background-image:url('<%= cl_image_path order.desired_item.photo.key %>')">
        </div>
        <%= order.desired_item.name %>
        <%= cl_image_tag order.seller.photo.key, class: "avatar" %>
        <%= order.seller.nickname %>

      </div>

    </div>

    <div class="col-6">

      <div class="item-card card">

          <div class="img-item-card" style="background-image:url('<%= cl_image_path order.offered_item.photo.key %>')">
          </div>
          <%= order.offered_item.name %>
          <%= cl_image_tag order.buyer.photo.key, class: "avatar" %>
          <%= order.buyer.nickname %>

      </div>

    </div>

  </div>

</div>
