<div class="card" data-controller="order-card">

  <div class="card-header d-flex justify-content-center">
    <h5>
      <%= order.status.capitalize %>
    </h5>
  </div>

  <div class="row d-flex align-items-stretch">

    <div class="col-6">

      <div class="item-card card">

        <div class="img-item-card rounded-3" style="background-image:url('<%= cl_image_path order.desired_item.photo.key %>')">
        </div>

        <div class="card-header d-flex flex-column justify-content-center">

          <h4>
            <%= order.desired_item.name %>
          </h4>

          <div class="user-info">
            <%= cl_image_tag order.seller.photo.key, class: "avatar" %>
            <%= order.seller.nickname %>
          </div>

        </div>

      </div>

    </div>

    <div class="col-6">

      <div class="item-card card">

          <div class="img-item-card rounded-3" style="background-image:url('<%= cl_image_path order.offered_item.photo.key %>')">
          </div>

          <div class="card-header d-flex flex-column justify-content-center">

            <h4>
              <%= order.offered_item.name %>
            </h4>

            <div class="user-info">
              <%= cl_image_tag order.buyer.photo.key, class: "avatar" %>
              <%= order.buyer.nickname %>
            </div>

          </div>

      </div>

    </div>

  </div>

  <% if current_user == order.seller %>

    <div class="row" data-order-card-target="content">

      <div class="col-6">
        <%= simple_form_for order:order, html: { data: { order_card_target: "form", action: "submit->order-card#update" } } do |f| %>
          <%# f.submit "Confirm", class: "btn btn-sm btn-primary btn-block mt-2" %>
        <% end %>
      </div>

      <div class="col-6">
        <%# simple_form_for order, html: { data: { order_card_target: "form", action: "submit->order-card#update" } } do |f| %>
          <%# f.submit "Reject", class: "btn btn-sm btn-primary btn-block mt-2" %>
        <%# end %>
      </div>

    </div>

  <% end %>

</div>
