<div class="card order-status-<%= order.status %> mb-4" data-controller="order-card" data-order-card-target="card">

  <div class="card-header d-flex justify-content-center">
    <h5>
      <%= order.status.capitalize %>
    </h5>
  </div>

  <div class="row d-flex align-items-stretch">

    <div class="col-6">

      <div class="item-card card">

        <%= link_to item_path(order.desired_item) do %>
          <div class="img-item-card rounded-3" style="background-image:url('<%= cl_image_path order.desired_item.photo.key %>')">
          </div>
        <% end %>

        <div class="card-header d-flex flex-column justify-content-center">

          <h4>
            <%= link_to order.desired_item.name, item_path(order.desired_item) %>
          </h4>

          <%= link_to dashboard_path(order.seller) do %>

            <div class="user-info">
              <%= cl_image_tag order.seller.photo.key, class: "avatar" %>
              <%= order.seller.nickname %>
            </div>

          <% end %>

        </div>

      </div>

    </div>

    <div class="col-6">

      <div class="item-card card">

          <%= link_to item_path(order.offered_item) do %>
            <div class="img-item-card rounded-3" style="background-image:url('<%= cl_image_path order.offered_item.photo.key %>')">
            </div>
          <% end %>

          <div class="card-header d-flex flex-column justify-content-center">

            <h4>
              <%= link_to order.offered_item.name, item_path(order.offered_item) %>
            </h4>

            <%= link_to dashboard_path(order.buyer) do %>

              <div class="user-info">
                <%= cl_image_tag order.buyer.photo.key, class: "avatar" %>
                <%= order.buyer.nickname %>
              </div>

            <% end %>

          </div>

      </div>

    </div>

  </div>

  <% if current_user == order.seller && order.pending? %>

    <div class="row" data-order-card-target="content">

      <div class="col-6">
        <%= simple_form_for order, html: { data: {
              order_card_target: "reject",
              action: "submit->order-card#reject" } } do |f| %>
          <%= f.hidden_field :status, value: "rejected" %>
          <%= f.submit "Reject", class: "btn btn-sm btn-primary btn-block mt-2" %>
        <% end %>
      </div>

      <div class="col-6">
        <%= simple_form_for order, html: { data: {
              order_card_target: "confirm",
              action: "submit->order-card#confirm" } } do |f| %>
          <%= f.hidden_field :status, value: "confirmed" %>
          <%= f.submit "Confirm", class: "btn btn-sm btn-success btn-block mt-2" %>
        <% end %>
      </div>

    </div>

  <% end %>

  <% if order.confirmed? %>

    <div class="row d-flex justify-content-center" data-order-card-target="content">

      <div class="col-6 d-flex justify-content-center">
        <%= link_to "#" do %>
          <div class="btn btn-success">
          Send
          <%= current_user == order.buyer ? order.seller.nickname : order.buyer.nickname %>
          a message
          </div>
        <% end %>
      </div>

    </div>

  <% end %>

  <% if order.rejected? %>

    <div class="row d-flex justify-content-center" data-order-card-target="content">

      <div class="col-6 d-flex justify-content-center">
        <%= link_to "#" do %>
          <div class="btn btn-danger">
          Delete this trade offer
          </div>
        <% end %>
      </div>

    </div>

  <% end %>

</div>
