<div class="card position-relative mb-4 p-0 border-0 bg-transparent">

  <div class="card-outfit-item-count btn-item-count rounded-pill position-absolute"
  data-bs-toggle="modal" data-bs-target="#outfit<%= outfit.id %>Modal" >
    <%= outfit.items.count %> <i class="fas fa-tshirt"></i>
  </div>

  <div class="card-outfit-img"
       style="background-image:url(<%= cl_image_path outfit.photo.key %>)"
       data-bs-toggle="modal" data-bs-target="#outfit<%= outfit.id %>Modal">
  </div>

  <div class="card-body bg-white border-top border-5 border-secondary p-4">

    <%= render partial: "shared/user_info", locals: { user: outfit.user } %>

    <div class="card-text d-flex flex-column">

      <p class="py-4 text-break m-0"><%= outfit.description %></p>
      <%= link_to outfit_path(outfit), class: "align-self-end" do %>
        <p class="text-align-right rounded-pill badge bg-primary">Posted <%= time_ago_in_words outfit.created_at %> ago</p>
      <% end %>

    </div>

  </div>

</div>

<div class="modal fade p-0" id="outfit<%= outfit.id %>Modal" tabindex="-1" aria-labelledby="outfit<%= outfit.id %>ModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen-md-down">
    <div class="modal-content py-3">
      <div class="modal-header border-0 py-2">
        <h5 class="modal-title" id="outfit<%= outfit.id %>ModalLabel">Items in this outfit</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body m-0 py-4 px-2">
        <div class="d-flex flex-row">
          <% outfit.items.each do |item| %>
            <%= render partial: "shared/item_card", locals: { item: item } %>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>
