<div class="card position-relative mb-4 p-0 border-0">

  <div class="card-outfit-item-count btn btn-success rounded-pill position-absolute"
  data-bs-toggle="modal" data-bs-target="#outfit<%= outfit.id %>Modal" >
    <%= outfit.items.count %> <i class="fas fa-tshirt"></i>
  </div>

  <div class="card-outfit-img"
       style="background-image:url(<%= cl_image_path outfit.photo.key %>)">
  </div>

  <div class="card-body">

    <div class="card-user d-flex align-items-center mt-2">

      <%= cl_image_tag outfit.user.photo.key, class:"avatar me-3" %>
      <h5 class="d-inline m-0"><%= outfit.user.nickname %></h5>

    </div>

    <div class="card-text">

      <p class="py-4 text-break m-0"><%= outfit.description %></p>
      <p class="text-muted m-0">Posted <%= outfit.created_at %> days/hours/minutes ago</p>

    </div>

  </div>

</div>

<!-- Modal -->
<div class="modal fade" id="outfit<%= outfit.id %>Modal" tabindex="-1" aria-labelledby="outfit<%= outfit.id %>ModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="outfit<%= outfit.id %>ModalLabel">Items in this outfit</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <% outfit.items.each do |item| %>
              <%= render partial: "shared/item_card", locals: { item: item } %>
            <% end %>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <%# <button type="button" class="btn btn-primary">Save changes</button> %>
      </div>
    </div>
  </div>
</div>
