<div class="row mx-auto d-flex justify-content-center gx-4">

  <div class="col-lg-6 col-md-6 col-sm-12">



  <div class="d-flex justify-content-between align-items-center">

    <%= link_to dashboard_path(@user) do %>

      <div class="user-info d-flex align-items-center mt-2">

        <%= cl_image_tag @user.photo.key, class:"avatar-large me-3 border-yellow" %>
        <h5 class="d-inline m-0"><%= @user.nickname %></h5>

      </div>

    <% end %>

    <% if @user == current_user %>

      <div>
        <%= link_to "Sign out", destroy_user_session_path, method: :delete, class:"btn btn-warning rounded-pill fw-bolder sign-out" %>
      </div>

     <% end %>
  </div>


  <div>

    <% if @user == current_user %>

      <h4 class="py-3 mx-2 border-bottom border-secondary border-3 text-center">My dashboard</h4>

    <% end %>

    <ul class="nav nav-pills mt-4 justify-content-around" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="btn-action nav-link active rounded-pill" id="outfits-tab" data-bs-toggle="tab" data-bs-target="#outfits" type="button" role="tab" aria-controls="outfits" aria-selected="true">
        Outfits
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="btn-action nav-link rounded-pill" id="items-tab" data-bs-toggle="tab" data-bs-target="#items" type="button" role="tab" aria-controls="items" aria-selected="false">
        Items
        </button>
      </li>

    </ul>


    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active my-4" id="outfits" role="tabpanel" aria-labelledby="outfits-tab">
        <div class="row">

            <% if @outfits.empty? && @user == current_user%>
                <div class="m-3" style="height: 75vh">
                  <p >You don't have any outfits yet.</p>
                  <%= link_to "Create your first outfit", new_outfit_path, class: "btn btn-outline-secondary rounded-pill fw-bolder" %>
                </div>
            <% else %>
            <div class="row gx-1">
              <% @outfits.each do |outfit| %>
                <div class="col-4">
                    <%= link_to outfit_path(outfit) do %>
                      <div class="outfit-grid" style="background-image:url(<%= cl_image_path outfit.photo.key %>)">
                      </div>
                    <% end %>
                  </div>
                <% end %>
              </div>
            <% end %>

        </div>

      </div>

      <div class="tab-pane fade my-4" id="items" role="tabpanel" aria-labelledby="items-tab">

        <div class="row">

          <% if @items.empty? && @user == current_user%>

            <div>
              <p class="m-3">You don't have any items yet</p>
              <%= link_to "Create your first item", new_item_path, class: "btn btn-outline-secondary rounded-pill fw-bolder" %>
            </div>

          <% else %>

            <div class="row gx-2 px-2">

              <% @items.each do |item| %>
                <div class="col-4">
                  <%= link_to item_path(item) do %>
                    <div class="outfit-grid" style="background-image:url(<%= cl_image_path item.photo.key %>)">
                    </div>
                    <p class="text-center"><%= item.name %></p>
                  <% end %>
                </div>
              <% end %>

            </div>

          <% end %>

        </div>

      </div>

    </div>

  </div>

</div>

</div>
