<div class="container">


  <div class="row justify-content-center">

    <div class="col-12 col-lg-6 border showpage-image-container">
      <%#= @item.photo %>
      <%= cl_image_tag @item.photo.key, height: 300, width: 400, crop: :fill %>
    </div>

  <div class="col-12 col-lg-4 border">
    <h1><%= @item.name %></h1>
    <p>Description: <%= @item.description %>Description</p>
    <p>Brand: <%= @item.brand %></p>
    <p>Size: <%= @item.size %></p>
    <p>Colour: <%= @item.color %></p>
    <p>User: <%= @item.user.nickname %></p>
  </div>

  </div>
</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Make an offer
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <%= simple_form_for [@item, @order] do |f| %>
          <%= f.input :offered_item, collection: @my_items, as: :radio_buttons, include_hidden: false, input_html: { multiple: true } %>
          <%= f.button :submit, class: "btn btn-primary" %>
        <% end %>

      </div>
    </div>
  </div>
</div>
