<% content_for :meta_title, "#{@item.name} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @item.description %>
<% content_for :meta_image, cl_image_path(@item.photo.key) %>

<div class="container">
  <div class="row d-flex justify-content-center p-0 m-0 pb-5 mt-2">

    <div class="col-lg-5 col-md-6 col-sm-12 p-0">

      <div class="item-show d-flex justify-content-between align-items-center pb-2 mb-4">
        <%= link_to root_path do %>
          <i class="fas fa-chevron-left fa-lg"></i>
        <% end %>
        <h4 class="m-0"><%= @item.name %></h2>
        <p class="m-0">✨</p>
      </div>


      <div class="img-item-showpage mb-4"
       style="background-image:url(<%= cl_image_path @item.photo.key %>)">
       <p class="text-align-right rounded-pill badge bg-primary">Posted <%= time_ago_in_words @item.created_at %> ago</p>
      </div>

      <%= render partial: "shared/user_info", locals: { user: @item.user } %>

      <div class="item-info">
        <p class="item-info-title">Description</p>

        <p><%= @item.description %></p>
      </div>

      <% if (@item.brand.present? || @item.size.present?) || @item.color.present? %>
        <div class="item-info">
          <p class="item-info-title">Item Details</p>
          <% if @item.brand.present? %>
            <p><strong>Brand</strong><%= @item.brand %></p>
          <% end %>

          <% if @item.size.present? %>
            <p><strong>Size</strong>  <%= @item.size %></p>
          <% end %>

          <% if @item.color.present? %>
            <p><strong>Colour</strong>  <%= @item.color %></p>
          <% end %>
        </div>
      <% end %>


      <!-- Button trigger modal -->
      <div class="d-grid gap-2 col-6 my-4 mx-auto">
        <button type="button" class="btn btn-action text-center fixed-bottom" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Make an offer
        </button>
      </div>

    </div>

    <div class="col-lg-6 col-md-6 col-sm-12 p-0">
     <div class="sidebar container sticky-top">

        <h5>Outfits this item appears</h5>
        <ul class="list-group pb-3">
        <% @item.outfits.each do |outfit|  %>

          <li class="list-group-item border-0 bg-transparent">
            <%= link_to outfit_path(outfit) do %>
              <div style="height:300px; background-image:url(<%= cl_image_path outfit.photo.key %>); background-size: cover">
              </div>
            <% end %>
          </li>

        <% end %>
        </ul>
      </div>
    </div>

  </div>
</div>




<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen-md-down modal-items">
    <div class="modal-content">
      <div class="modal-header border-0">
        <h6 class="modal-title" id="exampleModalLabel">Select your Item</h6>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">

        <% if user_signed_in? %>

          <%= simple_form_for [@item, @order] do |f| %>
            <% collection =  current_user.items.map { |item| [item.id, cl_image_tag(item.photo.key) ] }%>
            <%= f.input :offered_item, label: false, as: :radio_buttons, collection: collection, label_method: :second, value_method: :first, include_hidden: false, input_html: { multiple: true, required: true } %>
            <div class="d-grid gap-2">
              <%= f.submit "Make an offer", class: "btn btn-action" %>
            </div>
          <% end %>

        <% else %>

          <p>Hey Refresher!</p>
          <p>To make an offer you have to <%= link_to "Log in", new_user_session_path %> </p>
          <p>Don't have an account? <%= link_to "Sign up", new_user_registration_path %> </p>

        <% end %>

      </div>
    </div>
  </div>
</div>
