<div class="container">


  <div class="row justify-content-center">

    <div class="col-12 col-lg-6 border showpage-image-container">
      <%#= @item.photo %>
      <%= cl_image_tag @item.photo.key, height: 300, width: 400, crop: :fill %>
    </div>

  <div class="col-12 col-lg-4 border">
    <h1><%= @item.name %></h1>
    <p>Description: <%= @item.description %>Description</p>
    <p>Brand: <%= @item.brand %></p>
    <p>Size: <%= @item.size %></p>
    <p>Colour: <%= @item.color %></p>
    <p>User: <%= @item.user.nickname %></p>
  </div>

  </div>
</div>
